USE [master]
GO
/****** Object:  Database [MiniERP]    Script Date: 06.08.2025 7:29:43 ******/
CREATE DATABASE [MiniERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiniERP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiniERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniERP]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderItemType]    Script Date: 06.08.2025 7:29:43 ******/
CREATE TYPE [dbo].[OrderItemType] AS TABLE(
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Neurčeno') FOR [Category]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [ProductCode]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[InsertProductWithCode]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProductWithCode]
    @Name NVARCHAR(100),
    @Price DECIMAL(10,2),
    @Stock INT,
    @Category NVARCHAR(50)
AS
BEGIN
    DECLARE @Prefix CHAR(1)
    DECLARE @NextNumber INT
    DECLARE @ProductCode NVARCHAR(10)

    -- Určení prefixu podle kategorie
    SET @Prefix = CASE 
                    WHEN @Category = 'Notebook' THEN 'A'
                    WHEN @Category = 'Monitor' THEN 'B'
                    WHEN @Category = 'Příslušenství' THEN 'C'
                    ELSE 'X' -- fallback
                 END

    -- Najdi nejvyšší číslo pro daný prefix
    SELECT @NextNumber = 
        ISNULL(
            MAX(CAST(SUBSTRING(ProductCode, 2, LEN(ProductCode) - 1) AS INT)),
            0
        ) + 1
    FROM Products
    WHERE LEFT(ProductCode, 1) = @Prefix

    -- Sestavení nového kódu
    SET @ProductCode = @Prefix + CAST(@NextNumber AS VARCHAR)

    -- Vložení produktu
    INSERT INTO Products (ProductCode, Name, Price, Stock, Category)
    VALUES (@ProductCode, @Name, @Price, @Stock, @Category)
END
GO
/****** Object:  StoredProcedure [dbo].[spCreateOrderWithItems]    Script Date: 06.08.2025 7:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateOrderWithItems]
    @CustomerID INT,
    @OrderDate DATETIME,
    @Items dbo.OrderItemType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Orders (CustomerID, OrderDate)
    VALUES (@CustomerID, @OrderDate);

    DECLARE @NewOrderID INT = SCOPE_IDENTITY();

    INSERT INTO OrderItems (OrderID, ProductID, Quantity, UnitPrice)
    SELECT @NewOrderID, ProductID, Quantity, UnitPrice
    FROM @Items;
END;
GO
USE [master]
GO
